* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: rgb(47, 167, 83);
}

.QuizFrame {
  width: 50%;
  margin: auto;
  padding: 1cm;
  height: 10cm;
  color: whitesmoke;
  text-align: center;
}

.QuizFrame ul {
  margin: auto;
}

.Button {
  list-style-type: none;
  box-sizing: border-box;
  line-height: 3em;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: white;
  color: black;
  width: 100%;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

.NextQuestion {
  cursor: pointer;
}